/* 3d model */
/* MARK: Hover animation */
.Satelite3d {
    animation: --rotate 20s infinite linear;

}

@keyframes --rotate {
    0% {
        transform:
            rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform:
            rotateX(-360deg) rotateY(-2turn);
    }
}


.Satelite3dScene {

    --sateliteBaseMesure: 100px;
    --bodyHeight: calc(2*var(--sateliteBaseMesure));
    --bodyWidth: var(--sateliteBaseMesure);
    --bodyDepth: calc(1.5*var(--sateliteBaseMesure));


    perspective: 30rem;

    position: absolute;
    top: 50%;
    left: 50%;

    .Satelite3d {

        transform-style: preserve-3d;

        & .body {

            transform-style: preserve-3d;
            display: grid;
            /* grid-area: 1/1; */

            & .panelFront , .panelBack {
                /* display: block;
                grid-area: 1/1; */


                width: var(--bodyWidth);
                height: var(--bodyHeight);
            }

            & .panelLeft , .panelRight {
                /* display: block;
                grid-area: 1/1; */
                background-color: red;


                width: var(--bodyDepth);
                height: var(--bodyHeight);
            }

            & .panelTop , .panelBottom {

                /* display: block;
                grid-area: 1/1; */


                width: var(--bodyWidth);
                height: var(--bodyDepth);

            }

            &>* {
                /* width: var(--sateliteHeight2); */
                /* aspect-ratio: 1; */
                display: block;
                grid-area: 1/1;
                align-self: center;
                justify-self: center;
                background: hotpink;

            }

            & .panelFront {
                /* aspect-ratio: 1/2; */

                background-color: blue;

                transform: translateZ(calc(var(--bodyDepth) /2));
            }

            & .panelBack {
                /* aspect-ratio: 1/2; */
                /* width: var(--bodyWidth);
                height: var(--bodyHeight); */
                background-color: red;
                transform: rotateY(180deg) translateZ(calc(var(--bodyDepth) /2));

            }

            & .panelLeft {
                /* width: var(--bodyDepth);
                height: var(--bodyHeight); */
                background-color: yellow;

                transform: rotateY(90deg) translateZ(calc(var(--bodyWidth) / 2));

            }

            & .panelRight {
                /* width: var(--bodyDepth);
                height: var(--bodyHeight); */
                background-color: yellow;

                transform: rotateY(-90deg) translateZ(calc(var(--bodyWidth) / 2));

            }

            & .panelTop {
                /* aspect-ratio: 1/1.5; */
                /* width: var(--bodyWidth);
                height: var(--bodyDepth); */
                background-color: orange;

                transform: rotateX(90deg) translateZ(calc( var(--bodyHeight)/2));

            }

            & .panelBottom {
                /* width: var(--bodyWidth);
                height: var(--bodyDepth); */
                background-color: orange;

                transform: rotateX(-90deg) translateZ(calc( var(--bodyHeight)/2));

            }
        }


    }
}




/* page */
main {
    /* position: relative; */
    /* perspective: 20rem; */
    timeline-scope: --heroTrigger, --aboutTrigger, --sateliteTrigger;
}


/* hero + wrapper */

/* wrapper */
#heroWrapper {
    /* Change this value for the "length of the hero scroll animation */
    height: 150svh;
    view-timeline-name: --heroTrigger;

    /* transform-style: preserve-3d; */
}

/* hero */
#hero {
    position: sticky;
    height: 100svh;
    top: 0;

    /* transform-style: preserve-3d; */
}

/* .hero-content {
    transform-style: preserve-3d;
} */


/* section about */
#about {
    view-timeline-name: --aboutTrigger;
}

/* section satelite info */
#satelite {
    view-timeline-name: --sateliteTrigger;
}


/* satelite to be animated */

/* wrapper */
.sateliteWrapper {
    display: none;
    perspective: 20rem;

    position: fixed;
    height: 100%;
    width: 100svw;

    transform-style: preserve-3d;
    z-index: 1;

    animation-name: zIndexSatelite;
    animation-timeline: --heroTrigger;
    animation-range: exit-crossing 0% entry-crossing 100%;
    animation-fill-mode: both;

    --sateliteWidth: 100px;
    --sateliteHeight: 150px;
}

.stickyContainer {
    position: sticky;
    top: 0;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

    transform-style: preserve-3d;
}



/* satelite */
.sateliteAnimation {
    /*! width aanpassen naar wat we nodig hebben */
    width: var(--sateliteWidth);
    height: var(--sateliteHeight);

    transform-style: preserve-3d;

    animation-name: rotateSatelite;
    animation-timeline: --heroTrigger;
    animation-range: exit-crossing 0% entry-crossing 100%;
    animation-fill-mode: both;

}

/* keyframes */

@keyframes rotateSatelite {
    0% {
        transform: rotateY(0deg) translateZ(-18svw);
    }

    99% {
        transform: rotateY(-180deg) translateZ(-18svw);
    }

    100% {
        display: none;
    }
}

/* @keyframes animationAbout {
    0% {
        transform: rotateY(-180deg) translateZ(-18svw) ;
    }
    100% {
        transform: rotateY(0deg) translateZ(-18svw) ;
    }

} */


@keyframes zIndexSatelite {
    0% {
        z-index: 0;
    }

    50% {
        z-index: 0;
    }

    51% {
        z-index: 1;
    }
}